Repository mapbox/mapbox-vision-ios, pull requests merged in 2019-04, with the labels that each got.

#65 Fix archiving
  MapboxVision/Services/Recording/RecordArchiver.swift
Labels: bug

#66 Move Country from Platform interface to Delegate
  MapboxVision/Core/Platform.swift
  MapboxVision/Services/AppDependency.swift
  MapboxVision/Services/VideoSource/VideoSource.swift
  MapboxVision/VideoStream/VisionManager.swift
  MapboxVision/VideoStream/VisionManagerDelegate.swift
Labels: vision core

#69 Project with examples
  Examples/Cartfile
  Examples/VisionExamples.xcodeproj/project.pbxproj
  Examples/VisionExamples/Assets.xcassets/alert.imageset/Contents.json
  Examples/VisionExamples/Assets.xcassets/alert.imageset/alert.pdf
  Examples/VisionExamples/Assets.xcassets/close.imageset/Contents.json
  Examples/VisionExamples/Assets.xcassets/close.imageset/close.pdf
  Examples/VisionExamples/Base.lproj/Main.storyboard
  Examples/VisionExamples/Constants.swift
  Examples/VisionExamples/ExampleContainerViewController.swift
  Examples/VisionExamples/ExampleTableViewController.swift
  Examples/VisionExamples/Examples/ARNavigationViewController.swift
  Examples/VisionExamples/Examples/ExternalCameraViewController.swift
  Examples/VisionExamples/Examples/OverSpeedingViewController.swift
  Examples/VisionExamples/Info.plist
  Examples/scripts/carthage-input.xcfilelist
  MapboxVision/Services/VideoSource/CameraVideoSource.swift
  MapboxVision/VideoStream/VisionManager.swift
Labels: vision core

#70 API renaming support
  Examples/VisionExamples/Examples/ARNavigationViewController.swift
  Examples/VisionExamples/Examples/OverSpeedingViewController.swift
  MapboxVision/VideoStream/VisionManager.swift
  MapboxVision/VideoStream/VisionManagerDelegate.swift
Labels: vision core

#73 Disable china telemetry
  MapboxVision/Services/Recording/RecordCoordinator.swift
  MapboxVision/Services/Recording/RecordingPath.swift
  MapboxVision/Services/SessionManager.swift
  MapboxVision/VisionManager/VisionManager.swift
Labels: vision core

#80 Update Carthage dependencies
  Cartfile.resolved
Labels: enhancement
